<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>DeckSmith</title>
  </head>
  <body>
    <div id="root" style="width: 100vw; height: 100vh;"></div>
  </body>
</html>
